.aboutImageContainer {
  background: linear-gradient(#e36414, #171717);
}

.aboutImage {
  width: 95%;
  height: 95%;
  margin: auto;
}

.hello {
  padding: 5px;
  border-radius: 3px;
  font-size: 30px;
  background-color: #82589F;
  color: #ddd;
  width: fit-content;
  font-weight: bold;
  position: relative;
  width: fit-content;
  margin: 0 auto 40px;
}

.hello::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #82589F transparent transparent;
}

.paragraph {
  margin-top: 16px;
  line-height: 1.7;
}